<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>FoxDen VPN</string>
	<key>CFBundleIdentifier</key>
	<string>network.foxden.vpn-tray</string>
	<key>CFBundleExecutable</key>
	<string>foxden-vpnd</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<!-- Menu bar only: no Dock icon -->
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
